In [2]:
#Introduction to list datatypes:
#defenation : A List is an ordered collection of items.
#A list is classified as an mutable datatype.(flexible)
#A List is defined by using square brackets[]

In [5]:
students=['sunil','ashok','raju','rohit','ashok','tina'] #0,1,2,3,4,5

In [6]:
type(students)

list

In [ ]:
#intoduction to indexing: 
#the indexing will be starting from 0123..
# 0,1,2,3,...

In [ ]:
#how to access or retrive elements from the list.
#i want to access raju name on the output.. ?

In [7]:
print(students[2])

raju

In [8]:
print(students[5])

tina

In [9]:
print(students[5].title())

Tina

In [ ]:
# reassignment,adding, and removing elements from the list...

In [ ]:
#1.reassigning the elements in the List

In [10]:
print(students)

['sunil', 'ashok', 'raju', 'rohit', 'ashok', 'tina']

In [ ]:
#req: needs to replace ashok  --->kumar

In [11]:
students[1]='kumar' #  shift enter- will complete the reassignmnt

In [12]:
print(students)

['sunil', 'kumar', 'raju', 'rohit', 'ashok', 'tina']

In [ ]:
#2.adding new elements to the list. # john

In [13]:
students.append('john')  #shift enter

In [14]:
print(students)

['sunil', 'kumar', 'raju', 'rohit', 'ashok', 'tina', 'john']

In [ ]:
#adding naseer.

In [15]:
students.append('naseer')  #shift enter

In [16]:
print(students)

['sunil', 'kumar', 'raju', 'rohit', 'ashok', 'tina', 'john', 'naseer']

In [ ]:
#Append will be adding elements to th elast index postions of the List

In [ ]:
# Adding Laxmi--> to indexing position 2

In [17]:
students.insert(2,'Laxmi')

In [18]:
print(students)

['sunil', 'kumar', 'Laxmi', 'raju', 'rohit', 'ashok', 'tina', 'john', 'naseer']

In [ ]:
# Adding Anu--> to indexing position 4

In [19]:
students.insert(4,'Anu')

In [20]:
print(students)

['sunil', 'kumar', 'Laxmi', 'raju', 'Anu', 'rohit', 'ashok', 'tina', 'john', 'naseer']

In [ ]:
#3.removing elements from the List

In [ ]:
#want to delete Kumar name from the List...

In [ ]:
# Scenario 1 --> Permanent Delete

In [21]:
del students[1]

In [22]:
print(students)

['sunil', 'Laxmi', 'raju', 'Anu', 'rohit', 'ashok', 'tina', 'john', 'naseer']

In [ ]:
# Scenario 2 --> use of pop()method...  ***
will be deleting the items from the last by default.
it will be storing the deleted items like a carbon copy to a variable assigned to it.
we can also delete the custom index positions from the List using pop

In [25]:
x=students.pop()  # x - is a variable acting like cc

In [26]:
print(x)
print(students)

naseer
['sunil', 'Laxmi', 'raju', 'Anu', 'rohit', 'ashok', 'tina', 'john']

In [27]:
y=students.pop(4)

In [28]:
print(y)
print(students)

rohit
['sunil', 'Laxmi', 'raju', 'Anu', 'ashok', 'tina', 'john']

In [29]:
n=students.pop(2)

In [30]:
print(n)
print(students)

raju
['sunil', 'Laxmi', 'Anu', 'ashok', 'tina', 'john']

In [31]:
print(x)
print(y)
print(n)
print(students)

naseer
rohit
raju
['sunil', 'Laxmi', 'Anu', 'ashok', 'tina', 'john']